.userDetail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}
#userAvatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.details,
.userCars,
.bookings {
  padding: 0.8rem;
  /* min-width: 100%; */
}
.details > P {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  gap: 1rem;
}
.imageContainer > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.imageContainer > button {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.closeButton {
  float: right;
  cursor: pointer;
}
.carModal {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index: 9999;
}
.innerModal {
  padding: 1rem;
  height: max-content;
}
.approved {
  background-color: rgb(167, 45, 45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  border-radius: 1rem;
}
.approved > p {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
/* Container styling for responsiveness */
.bookingContainer {
  width: 100%;
  padding: 0 20px;
  overflow-x: auto;
  margin: 20px 0;
}

.userCars {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}
#noBooking,
#noCars {
  text-align: center;
  font-size: 1.2rem;
}
@media only screen and (max-width: 500px) {
  .userDetail {
    flex-direction: column-reverse;
    align-items: center;
  }
  .details {
    min-width: 100% !important;
  }
}
