<div class="dashboard" ng-init="init()">
  <div class="dashboard-sidebar">
    <p>Dashboard</p>
    <div class="dashboardPage">
      <div
        class="dashboard-page"
        data-id="home"
        ng-click="changeTab('home')"
        ng-class="{ active: currentTab === 'home' }"
      >
        Home
      </div>
      <div
        class="dashboard-page"
        data-id="analytics"
        ng-click="changeTab('analytics')"
        ng-class="{ active: currentTab === 'analytics' }"
      >
        Revenue Analytics
      </div>
      <div
        class="dashboard-page"
        data-id="stat"
        ng-click="changeTab('carBookAnalytics')"
        ng-class="{ active: currentTab === 'carBookAnalytics' }"
      >
        Booking & Car Analytics
      </div>
      <div
        class="dashboard-page"
        data-id="approvals"
        ng-click="changeTab('approvals')"
        ng-class="{ active: currentTab === 'approvals' }"
      >
        Approvals
      </div>
    </div>
  </div>
  <main class="dashboard-main">
    <!------Home section -------------------------------------------------------------->
    <section id="home" class="stat" ng-if="currentTab==='home'">
      <h2>Admin Dashboard</h2>
      <div class="summary-cards">
        <div class="card">
          <h3>Total Bid</h3>
          <p id="biddingCount">{{stat.bids}}</p>
        </div>
        <div class="card">
          <h3>Total Booking</h3>
          <p id="bookingCount">{{stat.bookings}}</p>
        </div>
        <div class="card">
          <h3>Users</h3>
          <p id="noOfAdmin">{{stat.users}}</p>
        </div>
        <div class="card">
          <h3>Cars</h3>
          <p id="noOfCars">{{stat.cars}}</p>
        </div>
        <div class="card">
          <h3>Total Revenue</h3>
          <p style="color: gray; font-size: 0.8rem">25% Commission</p>
          <p id="revenue">{{stat.revenue}}</p>
        </div>
        <div class="card">
          <h3>Average Rental Period</h3>
          <p id="averageRentDay">{{stat.avgRentalDay}}</p>
        </div>
        <div class="card">
          <h3>Rejected Bids</h3>
          <p id="rejectedBids">{{stat.rejectedBids}}</p>
        </div>
        <div class="card">
          <h3>Conversion Ratio</h3>
          <p id="conversionRatio">{{stat.conversionRatio}}</p>
        </div>
      </div>
    </section>
    <!-----Revenue Chart Section-------------------------------------------------------->
    <section class="chart" ng-if="currentTab==='analytics'">
      <div class="chartHeader">
        <h2>Revenue Analytics</h2>
        <div class="analytics">
          <div class="field">
            <label for="revenueFilter">Filter:</label>
            <select
              name="revenueFilter"
              id="revenueFilter"
              ng-model="revenueChartFilter.field"
              ng-change="revenueChart()"
            >
              <option value="vehicleType">By Car Type</option>
              <option value="fuelType">By FuelType</option>
              <option value="transmission">By Transmission Type</option>
              <option value="location" selected>By Location</option>
              <option value="plateNumber">By Per Car</option>
              <option value="email">By Car Owner</option>
            </select>
          </div>
          <div class="field">
            <label for="revenueChartType">Chart:</label>
            <select
              name="revenueChartType"
              id="revenueChartType"
              ng-model="revenueChartFilter.typeOfChart"
              ng-change="revenueChart()"
            >
              <option value="bar" selected>Bar</option>
              <option value="pie">Pie</option>
              <option value="doughnut">DoughNut</option>
            </select>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="revenueChart"></canvas>
      </div>
      <div>
        <p style="text-align: center; font-size: 0.8rem">
          *Revenue is calculated after 25% commission cut
        </p>
        <p style="text-align: center; font-size: 0.8rem">
          *revenue is calculated for confirmed bookings only.
        </p>
      </div>
    </section>
    <!-- <div
      id="dailyRevenueChartSection"
      class="hidden-section chart"
      style="display: none"
    >
      <div class="chartHeader">
        <h2>Revenue Analytics By Date</h2>
        <div class="analytics">
          <div class="fields">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" />
          </div>
          <div class="fields">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" />
          </div>
          <div class="fields" style="align-self: center; justify-self: center">
            <button id="applyDateRange" class="btn" style="width: 4rem">
              Apply
            </button>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="dailyRevenueChart"></canvas>
      </div>
      <div>
        <p style="text-align: center; font-size: 0.8rem">
          *Revenue is calculated after 25% commission cut
        </p>
        <p style="text-align: center; font-size: 0.8rem">
          *Revenue is calculated for confirmed bookings only, that you confirmed
          on that day.
        </p>
      </div>
    </div> -->
    <!-- <section
      id="comparisonChart"
      class="chart hidden-section"
      style="display: none"
    >
      <div class="chartHeader">
        <h2>Revenue Comparison</h2>
        <div class="analytics">
          <div class="field">
            <label for="comparisonPeriod">Comparison Period:</label>
            <select name="comparisonPeriod" id="comparisonPeriod">
              <option value="day" selected>1 Day</option>
              <option value="week">7 Days</option>
              <option value="month">30 Days</option>
            </select>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="chartComparison"></canvas>
      </div>
      <div style="width: 90%; margin: auto">
        <p style="text-align: center; font-size: 0.8rem">
          *The revenue comparison is done by calculating the revenue from the
          last x days (from today minus x days up to today) and comparing it
          with the revenue from the x days immediately before that (from today
          minus 2*x days up to today minus x days).
        </p>
      </div>
    </section> -->
    <!-----Car and Booking Chart Section-------------------------------------------------------->
    <section
      id="bookingsChart"
      class="chart"
      ng-if="currentTab==='carBookAnalytics'"
    >
      <div class="chartHeader">
        <h2>Number of Bookings</h2>
        <div class="analytics">
          <div class="field">
            <label for="bookingFilter">Filter:</label>
            <select
              name="bookingFilter"
              id="bookingFilter"
              ng-model="bookChartFilter.field"
              ng-change="bookChart()"
            >
              <option value="vehicleType">By Car Type</option>
              <option value="fuelType">By FuelType</option>
              <option value="transmission">By Transmission Type</option>
              <option value="location">By Location</option>
              <option value="plateNumber">By CarID</option>
            </select>
          </div>
          <div class="field">
            <label for="bookChartType">Chart:</label>
            <select
              name="bookChartType"
              id="bookChartType"
              ng-model="bookChartFilter.typeOfChart"
              ng-change="bookChart()"
            >
              <option value="bar" selected>Bar</option>
              <option value="pie">Pie</option>
              <option value="doughnut">DoughNut</option>
            </select>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="bookChart"></canvas>
      </div>
    </section>
    <section class="chart" ng-if="currentTab==='carBookAnalytics'">
      <div class="chartHeader">
        <h2>Number of Cars</h2>
        <div class="analytics">
          <div class="field">
            <label for="carfilter">Filter:</label>
            <select
              name="carfilter"
              id="carfilter"
              ng-model="carChartFilter.field"
              ng-change="carChart()"
            >
              <option value="vehicleType" selected>By Car Type</option>
              <option value="seats">By Seats</option>
              <option value="fuelType">By FuelType</option>
              <option value="transmission">By Transmission Type</option>
              <option value="location">By Location</option>
            </select>
          </div>
          <div class="field">
            <label for="chartType">Chart:</label>
            <select
              name="chartType"
              id="chartType"
              ng-model="carChartFilter.typeOfChart"
              ng-change="carChart()"
            >
              <option value="bar" selected>Bar</option>
              <option value="pie">Pie</option>
              <option value="doughnut">DoughNut</option>
            </select>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="carChart"></canvas>
      </div>
    </section>
    <!--------------Approvals sections----------------------------------------------------->
    <section
      id="approvals"
      class="hidden-section tableSection"
      ng-if="currentTab==='approvals'"
    >
      <div class="chartHeader">
        <h2>Approvals</h2>
        <div class="analytics">
          <div>
            <label for="approvalFilter">Filter by Status:</label>
            <select
              id="approvalFilter"
              ng-model="approvalFilter.status"
              ng-change="setApprovals()"
            >
              <option value="all">All</option>
              <option value="pending">Pending</option>
              <option value="rejected">Rejected</option>
              <option value="approved">Approved</option>
            </select>
          </div>
          <div>
            <label for="sortFilterApproval">Sort by:</label>
            <select
              id="sortFilterApproval"
              ng-model="approvalFilter.sortBy"
              ng-change="setApprovals()"
            >
              <option value="date">Date Created</option>
            </select>
          </div>
          <div>
            <label for="sortOrderApproval">Order:</label>
            <select
              id="sortOrderApproval"
              ng-model="approvalFilter.orderBy"
              ng-change="setApprovals()"
            >
              <option value="asc">Ascending &#9650;</option>
              <option value="desc">Descending &#9660;</option>
            </select>
          </div>
        </div>
      </div>
      <table id="approvalTable">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Adhaar</th>
            <th scope="col">Email</th>
            <th scope="col">Request Date</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody id="approvalsBody">
          <tr ng-if="approvals.length===0">
            <td colspan="5" class="no-data">There is no data</td>
          </tr>
          <tr ng-repeat="app in approvals" ng-if="approvals.length">
            <td data-label="Name">{{app.user.name}}</td>
            <td data-label="Adhaar">{{app.user.adhaar}}</td>
            <td data-label="Email">{{app.user.email}}</td>
            <td data-label="Request Date">{{app.createdAt |date}}</td>
            <td ng-if="app.status==='pending'">
              <button
                class="btn-approve"
                style="
                  background-color: green;
                  color: #fff;
                  border-radius: 1rem;
                "
                ng-click="toggleApproveModal(true,app.id)"
              >
                Approve
              </button>
              <button
                class="btn-deny"
                style="background-color: red; color: #fff; border-radius: 1rem"
                ng-click="toggleCancelApproveModal(true,app.id)"
              >
                Cancel
              </button>
            </td>
            <td data-label="Status" ng-if="app.status!=='pending'">
              {{app.status}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination"></div>
    </section>
  </main>
</div>
<!-------------------Approve approval modal-->
<div class="custom-modal" id="approveModal" ng-if="approveModal==true">
  <div class="custom-modal-inner">
    <div class="custom-modal-header">
      <button
        class="custom-modal-close"
        id="closeButtonApprove"
        ng-click="toggleApproveModal(false,null)"
      >
        <img src="../../asset/images/exit.svg" alt="Close" />
      </button>
    </div>
    <div class="custom-modal-body">
      <p class="custom-modal-title">Approve the Bid</p>
      <form
        id="approveBidForm"
        name="approveBidForm"
        class="custom-form"
        ng-submit="approveUserRequest()"
        style="height: auto"
      >
        <div class="form-group">
          <label for="confirmation" style="text-align: center">
            Are you sure you want to approve this user?
          </label>
        </div>
        <div class="form-group full-width">
          <input type="submit" name="submit" value="Approve" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- cancel bid modal ------------------------------------------------------>
<div class="custom-modal" id="cancelModal" ng-if="cancelApproveModal==true">
  <div class="custom-modal-inner">
    <div class="custom-modal-header">
      <button
        class="custom-modal-close"
        id="closeButtonCancel"
        ng-click="toggleCancelApproveModal(false,null)"
      >
        <img src="../../asset/images/exit.svg" alt="Close" />
      </button>
    </div>
    <div class="custom-modal-body">
      <p class="custom-modal-title">Cancel the Bid</p>
      <form
        id="cancelBidForm"
        class="custom-form"
        name="cancelBidForm"
        style="height: auto"
        ng-submit="cancelUserRequest()"
      >
        <div class="form-group full-width">
          <input type="submit" name="submit" value="Cancel" />
        </div>
      </form>
    </div>
  </div>
</div>
